<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script type="text/javascript" src="../static/arithmeticTrain.js"></script>
<div id="description" style="font-size: 50px; margin-top: 10%;">
    숫자는 0.5초 동안 표시되었다가 2.5초동안 사라집니다.
    <br>
    만약 두 숫자의 합이 10이라면 아래의 버튼을 눌러주세요.
</div>
<br>
<button id="userAnsButton" onclick="userAnsCheck()" style="font-size: 30px; margin-top: 1%">합이 10과 같습니다</button>
<br>
<div id="number">
    <span id="num1" style="font-size: 150px; width: 150px;"></span>
    <span style="width: 200px; font-size: 70px;">&nbsp&nbsp</span>
    <span id="num2" style="font-size: 150px; width: 150px;"></span>
</div>
</body>
</html>