<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center; font-size: 50px;">
<div style="margin-top: 10%;"></div>
<br>
<button style="text-align: center; font-size: 50px; margin-top: 1%;"onclick="window.location.href='1BackTrain.html'">1-Back Train</button>
<br>
<button style="text-align: center; font-size: 50px; margin-top: 1%;"onclick="window.location.href='3BackTrain.html'">3-Back Train</button>
<br>
<button style="text-align: center; font-size: 50px; margin-top: 1%;"onclick="window.location.href='arithmeticTrain.html'">Arithmetic 1-frame Train</button>
<br>
<button style="text-align: center; font-size: 50px; margin-top: 1%;"onclick="window.location.href='arithmetic2Train.html'">Arithmetic 2-frame Train</button>
<br>
</body>
</html>